input[type=button]{
    width: 80px;
    height: 80px;
    margin: 3px;
    color:#D8D9DA;
    border-radius: 5px;
    background-color: #272829;
    box-shadow: 0px 4px 10px white;
    font-size: 38px;
    border: none;
    cursor: pointer;
    border: solid black 0.5px;
}
.inputdisplay{
    width: 348px;
    height: 80px;
    border-radius: 100px;
    color: #272829;
}
.calculator{
    padding: 20px;
    background-color: #272829;
    border-radius: 10px;
    align-items: center;
    max-width: 375px;
    max-height: 640px;
    border-radius: 1.5rem;
    border: 10px solid rgb(19, 16, 32);
}
